html,
body {
    height: 100%;
    margin: 0;
    background: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 403px;
    height: 403px;
    background-image: url('https://img.freepik.com/free-vector/white-hexagonal-patterned-background_53876-97995.jpg?w=400');
    border: 1px solid white;
}